#!/usr/bin/env bash
# shellcheck disable=SC2034
# ==================================================================
# SYSTEM PATHS
# ==================================================================
declare -gx RM_LIB=/usr/local/lib/rm
declare -gx RM_BIN=/usr/local/bin/rm
declare -gx ETC=/usr/local/etc
declare -gx RM_OPT=/opt/rm
declare -gx RM_LOG=/var/log/rm
# ==================================================================
# REPO PATHS
# ==================================================================
