# shellcheck disable=SC2034
# ==================================================================
# SYSTEM PATHS
# ==================================================================
export RM_LIB=/usr/local/lib/rm
export RM_BIN=/usr/local/bin/rm
export ETC=/usr/local/etc
export RM_OPT=/opt/rm
export RM_LOG=/var/log/rm
# ==================================================================
# REPO PATHS
# ==================================================================
