id: name
prettyName: Project Name
description: Project Description
version: 0.1.0
extends: angular
license: MIT
git:
    user:
        name: USER_NAME
        email: USER_EMAIL
files:
    - .releaserc
    - README.md
    - COPYRIGHT
homepage: HOMEPAGE_URL
repository:
    label: REPO_LABEL
    url: REPO_URL
author:
    name: AUTHOR_NAME
    email: AUTHOR_EMAIL
    url: AUTHOR_URL
support:
    issues:
        label: ISSUES_LABEL
        url: ISSUES_URL
    discussions:
        label: ISSUES_LABEL
        url: ISSUES_URL
